body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.paneltitle {
  display: block;
  background-color: white;
  width: 100vw;
  height: 350px;
}
.panelcalendar {
  display: block;
  background-color: white;
  width: 100vw;
  height: 500px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelcameras {
  display: block;
  background-color: black;
  width: 100vw;
  height: 165px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelvpnstat {
  display: block;
  background-color: white;
  width: 100vw;
  height: 161px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelweather {
  display: block;
  background-color: white;
  width: 100vw;
  height: 250px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelnewsframe {
  display: block;
  width: 100vw;
  height: 190px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
