.controls {
    display: block;
    background-color: white;
    width: 100vw;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: hidden;
}
.controlsrow {
    display: flex;
    width: 100%;
    height: 100%;
    border: 0px;
    border-style: solid;
    border-color: #000000;
}
.prevmonth {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #cccccc;
}
.nextmonth {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #cccccc;
}
.refresh {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #cccccc;
}
.reboot {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    height: 100%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #cccccc;
}