body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.vpnstatus {
  display: block;
  background-color: white;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  font-family: verdana;
  font-size: 1.5em;
}
.vpnstatusheader {
  display: flex;
  border: 0px;
  height: 45px;
  border-style: solid;
  border-color: #000000;
  background-color: #cccccc;
  text-align: left;
}
.vpnstatusagehdrcol {
  width: 15%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatusitemhdrcol {
  width: 20%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatuscodehdrcol {
  width: 10%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatusmessagehdrcol {
  width: 55%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatusrow {
  display: flex;
  border: 0px;
  height: 45px;
  border-style: solid;
  border-color: #000000;
  align-items: center;
  text-align: left;
  font-family: verdana;
}
.vpnstatusagecol {
  width: 15%; 
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatusitemcol {
  width: 20%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatuscodecol {
  width: 10%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
.vpnstatusmessagecol {
  width: 55%;
  height: 100%;
  border: 1px;
  border-style: solid;
  border-color: #000000;
  align-content: center;
}
