@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.paneltitle {
  display: block;
  background-color: white;
  width: 100vw;
  height: 350px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelweather {
  display: block;
  background-color: white;
  width: 100vw;
  height: 250px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelcalendar {
  display: block;
  background-color: white;
  width: 100vw;
  height: 500px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelvpnstat {
  display: block;
  background-color: white;
  width: 100vw;
  height: 320px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelnewsframe {
  display: block;
  width: 100vw;
  height: 370px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelcameras {
  display: block;
  background-color: black;
  width: 100vw;
  height: 205px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.panelcontrolframe {
  display: block;
  width: 100vw;
  height: 175px;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
