<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<script  type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script language="javascript">
			const setMouseEvents = (el) => {
				$(el).mousedown(() => {
					$(el).css("background-color","red");
					console.log("mouse down");
				});
				$(el).mouseup(() => {
					$(el).css("background-color","#cccccc");
					console.log("mouse up");
					switch(el) {
						case "#prevmonth": 
							$("#calendar").focus();
							$.ajax({url: "/keypress?key=p", success: function(result) {console.log('p pressed');}});
							break;
						case "#nextmonth": 
							$("#calendar").focus();
							$.ajax({url: "/keypress?key=n", success: function(result) {console.log('n pressed');}});
							break;
						case "#refresh": 
							$.ajax({url: "/keypress?key=5", success: function(result) {console.log('F5 pressed');}});
							break;
						case "#reboot": 
							$.ajax({url: "/keypress?key=R", success: function(result) {console.log('Reboot pressed');}});
							break;
						default:
							console.log('Unexpected element ' + el + ' clicked');
					}
				});
			};
			const getVpnData = () => {
				//$('#panelvpnstat').load('/vpndata');
				$.getJSON(
					"/vpndata",
					(data) => {
						console.log("Requested status data");
					}).done((data) => {
						let statusOutput = "";
						$.each( data, ( i, statusRow ) => {
							statusOutput += "   <div class=\"vpnstatusrow\">\n" +
											"      <div style=\"background-color: " + statusRow.time_bg_colour + "\" class=\"vpnstatusagecol\">" + statusRow.timestamp + statusRow.time_unit + "</div>\n" +
											"      <div style=\"background-color: " + statusRow.status_bg_colour + "\" class=\"vpnstatusitemcol\">" + statusRow.vpn + "</div>\n" +
											"      <div style=\"background-color: " + statusRow.status_bg_colour + "\" class=\"vpnstatuscodecol\">" + statusRow.code + "</div>\n" +
											"      <div style=\"background-color: " + statusRow.status_bg_colour + "\" class=\"vpnstatusmessagecol\">" + statusRow.message + "</div>\n" +
											"   </div>"

						});
						$('#vpnstatus').html(statusOutput);
					}).fail(( jqxhr, textStatus, error ) => {
    					var err = textStatus + ", " + error;
    					console.log( "ERROR: Failed to get status data: " + err );
					});
			};
			const getNewsData = () => {
				$.getJSON(
					"/newsdata",
					(data) => {
						console.log("Requested news data");
					}).done((data) => {
						let statusOutput = "";
						$.each( data.news_list, ( i, newsRow ) => {
							statusOutput += "   <div class=\"newsitem\">\n" +
        									"      <div class=\"channel\"><img class=\"channelImage\" src=\"" + data.image + "\"/></div>\n" +
        									"      <div class=\"headline\">" + newsRow.title + "</div>\n" +
        									"      <div class=\"thumbnail\"><img class=\"channelImage\" src=\"" + newsRow.thumbnail + "\" alt=\"" + newsRow.title + "\"/></div>\n" +
    										"   </div>"
						});
						$('#news').html(statusOutput);
					}).fail(( jqxhr, textStatus, error ) => {
    					var err = textStatus + ", " + error;
    					console.log( "ERROR: Failed to get news data: " + err );
					});
			};
			window.setInterval(() => {
				getVpnData();
			}, 10000);
			window.setInterval(() => {
				getNewsData();
			}, 20000);
			$(document).ready(function() {
				document.body.style.cursor = "none";
				getVpnData();
				getNewsData();
				setMouseEvents("#prevmonth");
				setMouseEvents("#nextmonth");
				setMouseEvents("#refresh");
				setMouseEvents("#reboot");
			});
		</script>
		<link href="{{ url_for('static', filename= 'css/mediapanel.css') }}" rel="stylesheet"/>
        <title>{% block title %} {% endblock %}</title>
	</head>

	<body>
		<iframe src='<WEATHERSTATION_URL>' class='paneltitle'></iframe>
		<div id='panelcalendar' class='panelcalendar'>{% block calendar %} {% endblock %}</div>
		<div id='panelvpnstat' class='panelvpnstat' scrolling='no'>{% block status %} {% endblock %}</div>
		<div id='panelnewsframe' class='panelnewsframe' scrolling='no'>{% block news %} {% endblock %}</div>
		<iframe src='<WEBCAMS_URL>' class='panelcameras' scrolling='no'></iframe>
		<div class='panelcontrolframe' scrolling='no'>{% block controls %} {% endblock %}</div>
	</body>
</html>
