{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block calendar %}
	<link href="{{ url_for('static', filename= 'css/calendar.css') }}" rel="stylesheet"/>
	<iframe id="calendar" src="<URL FROM CALENDER.GOOGLE.COM EMBED INSTRUCTIONS>" style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
{% endblock %}

{% block status %}
<link href="{{ url_for('static', filename= 'css/vpnstatus.css') }}" rel="stylesheet"/>
<script language="javascript">

</script>
<div class="vpnstatus">
    <div class="vpnstatusheader">	
        <div class="vpnstatusagehdrcol">Age</div>
        <div class="vpnstatusitemhdrcol">Item</div>
        <div class="vpnstatuscodehdrcol">Code</div>
        <div class="vpnstatusmessagehdrcol">Message</div>
    </div>
	<div id="vpnstatus"></div>
</div>
{% endblock %}

{% block news %}
<link href="{{ url_for('static', filename= 'css/news.css') }}" rel="stylesheet"/>
<div class="news" id="news"></div>
{% endblock %}

{% block controls %}
	<link href="{{ url_for('static', filename= 'css/control.css') }}" rel="stylesheet"/>
	<div class="controls">
		<div class="controlsrow">
			<div id="prevmonth" class="prevmonth">
				<i class="bi-skip-backward-fill" style="font-size: 10rem; color: cornflowerblue;"></i>
			</div>
			<div id="nextmonth" class="nextmonth">
				&nbsp;
				<i class="bi-skip-forward-fill" style="font-size: 10rem; color: cornflowerblue;"></i>
			</div>
			<div id="refresh" class="refresh">
				&nbsp;
				<i class="bi-arrow-counterclockwise" style="font-size: 10rem; color: cornflowerblue;"></i>
			</div>
			<div id="reboot" class="reboot">
				&nbsp;
				<i class="bi-bootstrap-reboot" style="font-size: 10rem; color: cornflowerblue;"></i>
			</div>
		</div>
	</div>
{% endblock %}
