[Desktop Entry]
Name=InfoPanel
Exec=epiphany --application-mode --profile="/home/pi/.local/share/org.gnome.Epiphany.WebApp-infopanel-f544598f25fd66e0e00d12a812e7d85848553fc4" http://localhost:5000/
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;
Icon=/home/pi/.local/share/org.gnome.Epiphany.WebApp-infopanel-f544598f25fd66e0e00d12a812e7d85848553fc4/app-icon.png
StartupWMClass=org.gnome.Epiphany.WebApp-infopanel-f544598f25fd66e0e00d12a812e7d85848553fc4
